/.lake
docs/stonedualityba.out
docs/stonedualityba.aux
docs/stonedualityba.log
docs/stonedualityba.blg
docs/stonedualityba.fdb_latexmk
docs/stonedualityba.fls
docs/stonedualityba.synctex.gz
docs/stonedualityba.pdf
docs/stonedualityba.bcf
docs/stonedualityba.run.xml
